[submodule ".registry"]
	path = .registry
	url = https://github.com/gvelasq/gvelasq.r-universe.dev
	branch = HEAD
[submodule "palettizer"]
	path = palettizer
	url = https://github.com/gvelasq/palettizer
[submodule "tidytab"]
	path = tidytab
	url = https://github.com/gvelasq/tidytab
